.search-view .login{
    display: none;
}

.search-view .searchForm{
    text-align: center;
    margin: 40px 0 0 0;
}

.search-view .searchForm input{
    width: 250px;
    margin-right: 30px;
    height: 40px;
    border-radius: 160px;
    border: 1px solid transparent;
    padding-left: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.search-view .searchForm input::placeholder{
    text-align: center;
    opacity: .6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-view .searchForm input:active{
    border: 1px solid cornflowerblue;
}

.search-view .searchForm input:hover{
    border: 1px solid cornflowerblue;
}

.search-view .searchForm button{
    height: 40px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 160px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-view .searchForm button:hover{
    border: 1px solid cornflowerblue;
}

.result-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

.search-input{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}